<div class="btn btn-primary">
  <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Exercitationem repudiandae beatae facere natus quaerat, quo aliquid, deleniti minus magni illum explicabo sint quidem voluptatibus! Reiciendis, repellendus deserunt doloribus, eum ducimus itaque cumque in quas laudantium facilis cum fugiat dolore quis non maiores aspernatur fugit at, delectus modi eaque. Porro, iste?</p>
</div>

<div class="container">
  <app-navbar></app-navbar>
  <app-courses></app-courses>
  <app-sidebar></app-sidebar>
</div>


