/*html, 
body {
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.toggleBtn {
    float: right;
    padding: 10px;
}

.toggleBtn span {
    font-size: 50px;
}

.menu {
    height: 90vh;
    width: 15px;
    background-color: cyan;
    float: right;
    position: relative;
}

.menu a {
    color: white;
    font-size: 30px;
    text-decoration: none;
    margin: 30px;
    font-family: sans-serif;
    display: block;
    text-align: center;
}
*/

html,
body {
    padding: 0;
    margin: 0;
    overflow: hidden;
}

.toggleBtn {
    float: right;
    padding: 10px;
}

.toggleBtn span {
    font-size: 50px;
}

.menu {
    height: 90vh;
    width: 15%;
    background-color: blueviolet;
    float: right;
    position: relative;
}

.menu a {
    color: white;
    font-size: 30px;
    text-decoration: none;
    margin: 30px;
    font-family: sans-serif;
    display: block;
    text-align: center;
}

.nav {
    margin-right: -400px;
    transition-duration: 0.5;
}

.navOuverte {
    margin-right: 0;
    transition-duration: 0.5s;
}

li
{
    list-style-type: none;
}