*
{ 
    margin: 0;
    padding: 0;
}

body
{
    background-color: cyan;
}

#global
{
    background-color: darkkhaki;
    width: 300px;
    margin: 10px;
}

#fixed_bloc
{
    background-color: chartreuse;
    width: 150px;
    top: 300px;
    left: 380px;
    position: fixed;
}

#bloc_1
{
    background-color: darkmagenta;
    width: 150px;
    padding-left: 15px;
    padding-bottom: 60px;
    position: relative;
}

#bloc_2
{
    background-color: red;
    width: 90px;
    padding-left: 15px;
    padding-bottom: 35px;
    position: relative;
    top: 30px;
}

#bloc_3
{
    background-color: green;
    height: 1700px;
    width: 300px;
    padding-left: 15px;
    padding-bottom: 20px;
    position: relative;
}