*
{
    margin: 0;
    padding: 0;
}

#global
{
    background-color: darkblue;
    width: 500px;
    padding: 5px;
}

#flottant1
{
    width: 150px;
    height: 150px;
    background-color: firebrick;
    margin: 5px;
    float: right;
}

#flottant2
{
    width: 100px;
    height: 100px;
    background-color: firebrick;
    margin: 5px;
    float: left;
}

#lorem
{
    background-color: orangered;
}

#flottant3
{
    height: 60px;
    background-color: pink;
    margin: 5px;
    float: right;
}