body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
}

fieldset {
    background-color: rgb(219, 213, 119);
}

legend {
    font-size: 40px;
    font-weight: 900;
    font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
}

div {
    margin: 15px 5px;
}

textarea {
    width: 850px;
    height: 150px;
}

.errorForm {
    border: 1px solid red;
}

.errorMessage {
    color: red;
    font-size: .8rem;
}