<div class="container">
  <div class="row">
    <div class="html-container col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 no-gutters" id="html">
      <div class="content col-8 col-sm-8 col-md-8 col-lg-8 col-xl-8">
        <ol class="{{ols[0].class}}">
          {{ols[0].name}}
          <img src="../../assets/remove.png" alt="" class="less">
        </ol>
        <ul *ngFor="let ls of lsOne">
          <li class="li-content-1"><code>{{ls.code}}</code> {{ls.desc}} </li>
        </ul>

        <ol class="{{ols[1].class}}">
          {{ols[1].name}}
          <img src="../../assets/remove.png" alt="" class="less">
        </ol>
        <ul *ngFor="let ls of lsTwo">
          <li class="li-content-2"><code>{{ls.code}}</code> {{ls.desc}} </li>
        </ul>

        <ol class="{{ols[2].class}}">
          {{ols[2].name}}
          <img src="../../assets/remove.png" alt="" class="less">
        </ol>
        <ul *ngFor="let ls of lsThree">
          <li class="li-content-3"><code>{{ls.code}}</code> {{ls.desc}} </li>
        </ul>

        <ol class="{{ols[3].class}}">
          {{ols[3].name}}
          <img src="../../assets/remove.png" alt="" class="less">
        </ol>
        <ul *ngFor="let ls of lsFour">
          <li class="li-content-4"><code>{{ls.code}}</code> {{ls.desc}} </li>
        </ul>

        <ol class="{{ols[4].class}}">
          {{ols[4].name}}
          <img src="../../assets/remove.png" alt="" class="less">
        </ol>
        <ul *ngFor="let ls of lsFive">
          <li class="li-content-5"><code>{{ls.code}}</code> {{ls.desc}} </li>
        </ul>

        <ol class="{{ols[5].class}}">
          {{ols[5].name}}
          <img src="../../assets/remove.png" alt="" class="less">
        </ol>
        <ul *ngFor="let ls of lsSix">
          <li class="li-content-6"><code>{{ls.code}}</code> {{ls.desc}} </li>
        </ul>

        <ol class="{{ols[6].class}}">
          {{ols[6].name}}
          <img src="../../assets/remove.png" alt="" class="less">
        </ol>
        <ul *ngFor="let ls of lsSeven">
          <li class="li-content-7"><code>{{ls.code}}</code> {{ls.desc}} </li>
        </ul>

      </div>
      <app-html-chapter-two></app-html-chapter-two>
    </div>
  </div>
</div>
