*
{
    margin: 0;
    padding: 0;
}

nav
{

}

ul 
{
    width: 1000px; 
    margin-left: auto;
    margin-right: auto;
    display: flex;
    align-items: flex-start;
    justify-content: space-around;
    text-align: center;
    list-style: none;
}

li
{
    width: 120px;
}

a
{
    width: 100%;
    height: 50px;
    display: block;
    text-decoration: none;
    color: white;
    font-family: Gotham, "Helvetica Neue", Helvetica, Arial, "sans-serif";
    font-size: 14px;
    background-color: #2492b2;
    line-height: 50px;    
}

#courant
{
    background-color: green;
}

a:hover
{
    background-color: orangered;
}